<div class="form">
  <div class="form-header">Log in</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
      <%= link_to "Forgot your password?", new_user_password_path, class: "form-link" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-horizontal-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "form-label" %>
      </div>
    <% end %>


    <div class="form-footer">
      <%= f.submit "Log in", class: "form-button" %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "form-button" %>
    </div>

    <div style="display: flex; align-items: center; margin: 24px 0;">
      <hr style="flex: 1; border: none; border-top: 1px solid #ddd; margin: 0 8px;" />
      <span style="color: #888; font-size: 14px;">or</span>
      <hr style="flex: 1; border: none; border-top: 1px solid #ddd; margin: 0 8px;" />
    </div>

    <div class="omniauth-provider">
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "form-button google" do %>
        <span>
          <img src="https://www.google.com/s2/favicons?sz=64&domain=google.com" alt="Google" style="width: 18px; height: 18px; vertical-align: middle;" />
        </span>
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, class: "form-button facebook" do %>
        <span>
          <img src="https://www.google.com/s2/favicons?sz=64&domain=facebook.com" alt="Facebook" style="width: 18px; height: 18px; vertical-align: middle;" />
        </span>
      <% end %>
      <%= link_to user_apple_omniauth_authorize_path, class: "form-button apple" do %>
        <span>
          <img src="https://www.google.com/s2/favicons?sz=64&domain=apple.com" alt="Apple" style="width: 18px; height: 18px; vertical-align: middle;" />
        </span>
      <% end %>
    </div>

  <% end %>
</div>

